body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #363431;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.header {
  border-bottom: 1px solid #71ca32;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  margin-right: 60px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list .header__item:not(:last-child) {
  margin-right: 56px;
}

.header__link {
  font-size: 16px;
  line-height: 1;
  color: #363431;
}
.header__link:hover, .header__link:focus {
  color: #74B900;
}

.header__link--active {
  color: #74B900;
}

.ebout__svg {
  width: 104px;
  height: 104px;
}

.address {
  margin-left: auto;
}

.address__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #363431;
}
.address__link:hover, .address__link:focus {
  color: #74B900;
}

.address__bt {
  min-width: 40px;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #363431;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid #74B900;
  padding: 10px 10px;
}
.address__bt:hover, .address__bt:focus {
  color: #74B900;
  background-color: #363431;
}

.first {
  margin-right: 26px;
  min-width: 130px;
}

.address__list {
  margin-bottom: 10px;
}

.hero {
  max-width: 1600px;
  height: 640px;
  padding-bottom: 128px;
  padding-top: 88px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: url(../images/Rectangle2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.2;
}

.hero__text {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  margin-top: 80px;
}

.hero__btn {
  margin-top: 80px;
  background-color: inherit;
  border-radius: 10px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  padding: 10px 20px;
  min-width: 240px;
  height: 64px;
  cursor: pointer;
}
.hero__btn:hover, .hero__btn:focus {
  color: #71ca32;
  background-color: #363431;
  border-style: none;
}

.ebout {
  padding-top: 176px;
  padding-bottom: 176px;
}

.ebout__title {
  color: #363431;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}

.ebout__list {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ebout__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}/*# sourceMappingURL=main.css.map */