a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;

}

img {
    max-width: 100%;
    display: block;
    height: auto;
}
:root {
    --primary-text-color: #363431;
    --second-text-color: #FFFFFF;
    --acsent-text-color: #74B900;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #E5E5E5;
    color:#363431 ;
}
/* основной цвет #363431*/
/*  второй  цвет #FFFFFF*/
/* акцент цвет #74B900, #828282*/


/* sait nav */
.main-link{
    color: var(--primary-text-color);
}
.main-link:hover, .main-link:focus{
    color: var(--acsent-text-color);
}
.active{
color: var(--acsent-text-color);
}
/* footer link*/
.fotter-link {
    color: var(--primary-text-color);
}

.fotter-link:hover,
.fotter-link:focus {
    color: var(--acsent-text-color);
}

.active {
    color: var(--acsent-text-color);
}
/*buttons*/
.bt{
    color: var(--acsent-text-color);
    cursor: pointer;
    background-color:var(--second-text-color);
    padding: 10px 10px;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
    
}
.bt:hover, .bt:focus{
    color: var(--primary-text-color);
}
