.ebout{
    padding-top: 176px;
    
}
.ebout__title{
    color: $maincolor;
    
        font-size: 48px;
        font-weight: 400;
        line-height: 1;
        text-align: center;
}
.ebout__list{
    margin-top: 80px;
}