.ebout{
    padding-top: 176px;
    padding-bottom: 176px;
}
.ebout__title{
    color: $maincolor;
    
        font-size: 48px;
        font-weight: 400;
        line-height: 1;
        text-align: center;
}
.ebout__list{
    margin-top: 80px;
    display: flex;
}
.ebout__item{
       
        display: inline-flex;
        text-align: center;
       
}
.ebout__link{
        color: $maincolor;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
}
.ebout__div{
    width: 240px;
        align-items: center;
            display: inline-block;
}
.ebout__text{
    margin-top: 32px;
}