.header{
    border-bottom: 1px solid $maincolor;
    width: 100%;
    
}

.header__link{
    margin-left: 10px;
    font-size: 20px;
    line-height: 1;
    color: $maincolor;
    &:hover, &:focus{
        color: $mainhoverColor;
    }
}
.header__link--active{
    color: $mainhoverColor;
}


.address__link{
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: $maincolor;
    
    &:hover,
    &:focus {
    color: $mainhoverColor;
   }
}
.address__bt{
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: $maincolor;
    background-color: $secondcolor;
    cursor: pointer;
    border-radius: 25px;
    padding: 12px;
    border: 1px solid $mainhoverColor;
    padding: 12px 20px ;
    &:hover,
        &:focus {
            color: $mainhoverColor;
            background-color: $maincolor;
        }

}
// .first{
//     padding: 12px 40px 12px 40px;
// }
