.hero{
    max-width: 1920px;
    height: 640px;
    padding-bottom: 128px;
    padding-top: 88px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(47, 48, 58, 0.4) ;
    // background-color: #998484;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)),url("../../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
    
}
.hero__title{
 color: $secondcolor;
    font-size: 56px;
    font-weight: 400;
    line-height: 1.2;
    
}
.hero__text{
       color:$secondcolor;
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
        
        margin-top: 80px;
}
.hero__btn{
   margin-top: 80px;
    background-color:inherit;
    border-radius: 10px;
    border: 1px solid $secondcolor;
    color: $secondcolor;
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
        text-align: center;
        padding: 10px 20px;
        min-width: 240px;
        height: 64px;
        cursor: pointer;
        &:hover,&:focus{
            color: $secondHoverColor;
            background-color: $maincolor;
            border-style: none;
        }
}